footer{
    background-color: rgba(0, 0, 0,0.9);
}
.container__footer{
    width: 80%;
    margin:  0 auto;
    text-align: left;
}
.footer-top__content{
    @apply py-2
}

.footer-top__content h3{
    @apply text-gray-300 text-base font-bold pb-5
}
.footer-top__content p {
    @apply text-gray-500 font-medium hover:text-white cursor-pointer
} 
.content__img{
    @apply flex space-x-5
}
.content__img img {
    cursor: pointer;
}
.content__img img:hover{
   opacity: 0.5;
   
}
@media only screen and (max-width:568px){
    .container__footer{
        width: 100%;
    }
}