.slick-dots-bottom {
    margin:0 !important;
    padding:0 !important;
}
.slick-prev,
.slick-next {

 display: none !important;
}
.homecarousel__img-bg{
    height: 90vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media only screen and (max-width:1024px){
    .homecarousel__img-bg{
        height:50vh;
    }
}
@media only screen and (max-width:768px){
    .homecarousel__img-bg{
        height: 30vh;
    }
}