.flip-card {
    background-color: transparent;
    /* width: 220px; */
    width: 90%;
    height: 320px;
    perspective: 1000px;
   
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 
  }
  
  /* .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  } */
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  .flip-card-front img{
    width: 100% ;height: 320px
  }
  .flip-card-back {
    background-color: #2980b9;
   
    transform: rotateY(180deg);
  }
  .dat-ve{
    background: linear-gradient(to left,#f7482d,#c6422d 100%);
    transition: all .5s;
    @apply w-full text-center cursor-pointer rounded-lg my-2 py-2 text-white font-medium
  }

.dat-ve:hover{
  background: linear-gradient(to left,#d6270c,#c22007 100%);
}
  @media only screen and (max-width:768px) {
    .flip-card {
 
      height: 280px;
    
     
    }

    .flip-card-front img{
     height: 280px
    }
  }