

.multiItem {
  font-family: sans-serif;
  padding: 10px 30px;
}

.multiItem > div {
  background-color: #5c2e91;
  background-color: #fff;
  color: #fff;
  color: #3498db;
  text-align: center;
}
.slick-prev:before,
.slick-next:before {
  color: black;
 
  font-size: 24px;
}
@media only screen and (max-width:568px) {
  .slick-prev:before,
.slick-next:before {
  display: none;
}
}

.active_film {
  @apply  focus:outline-none focus:ring-4 focus:ring-blue-300
}
/* .none_active_film{
  @apply  focus:outline-none focus:ring-4 focus:ring-red-300
} */