.container__news{
    width: 80%;
    margin:0 auto;
    padding: 2rem;
}
.container__news img{
    cursor: pointer;
}
.container__news p {
    color: #4a4a4a;
    transition: all 0.2s ease-in-out;
}
.container__news p:hover {
    color: #fb4226;
}

.btnShowMore {
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.btnShowMore button {
    font-size: 14px;
    color: #949494;
    border: 1px solid #949494;
    border-radius: 4px;
    text-align: center;
    background: 0 0;
    padding: 7px 25px;
    transition: all .2s;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 20px;
    display: block;
    cursor: pointer;
}

.btnShowMore  button:hover {
    background-color: #fb4226;
    border-color: #fb4226;
    color: #fff;
}


.newsImg {
    width: 100%;
    border-radius: 10px;
}

.newsItem p {
    height: 50px;
    overflow: hidden;
    font-size: 14px;
    cursor: pointer;
    color: #4a4a4a;
}
.newsItem p:first-of-type{
    font-weight: bold;
    font-size: 16px;
    height: 24px;
    margin:5px 0 10px 0;
    
}

.newsImgSmall {
    width: 50px ;
    height: 50px ;
    border-radius: 5px;
    margin-right: 10px;
}

.p-md10 {
    margin: 0;
    font-size: 16px;
    height: 45px;
    overflow: hidden;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
   
}


@media only screen and (max-width:768px) {
    .container__news{
        width: 100%;
    }
}


.tab__title{
    color:black;
    font-size: 18px;
    font-weight:500;
    cursor: pointer;
    padding: 0 10px;
    position: relative;
    transition-duration: 0.4s;
}
.tab__title:hover{
    transform: scale(1.1);
}
.tab__title::after{
    content: "";
    background: #949494;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 140%;
    margin-left: -20px!important;
    margin-top: -60%;
    opacity: 0;
    transition: all 0.5s
}
.tab__title:active::after{
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

@media only screen and (max-width:376px) {
    .tab__title{
        padding: 0;
        font-size: 16px;
    }
}