#trapezoid {
    border-bottom: 50px solid gray;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 70%;
    opacity: .3;
  }
  @media only screen and (max-width:1204px) {
    #trapezoid{
      width: 90%;
    }
  }
  /* ghế thường */
.ghe{
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  background-color: rgb(123, 122, 122);
  color: #fff;
}
.gheDaDat{
  background-color: rgb(232, 76, 76);
  cursor: no-drop;
}
.gheVip {
  background-color: rgb(228, 74, 8);
}
.gheDangDat{
  background-color:rgb(18, 176, 18);
  color:black
}