.ghe{
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    background-color: rgb(123, 122, 122);
    color: #fff;
  }
  .gheDaDat{
    background-color: rgb(232, 76, 76);
    cursor: no-drop;
  }
  .gheVip {
    background-color: rgb(228, 74, 8);
  }
  .gheDangDat{
    background-color:rgb(18, 176, 18)
  }
  /* được chính mình đặt */
  .gheDaDuocDat {
  background-color: rgb(2466, 246, 246);
  -webkit-box-shadow: -1px 2px 18px -6px orange; 
box-shadow: -1px 2px 18px -6px orange;
color:orange;
border: 1px solid
  }


.content__right__checkout{
  @apply grid grid-cols-3 border-b-2 py-5
}
.content__right__checkout span:first-child{
  @apply font-medium text-base col-span-1
}
.content__right__checkout span:last-child{
  @apply text-green-600 text-base font-semibold col-span-2
}
.content__card__checkout{
  @apply grid grid-cols-3 pb-2
}
.content__card__checkout span:first-child{
  @apply font-bold col-span-1
}
.content__card__checkout span:last-child{
  @apply text-green-500  col-span-2 font-medium
}