.movieApp{
    background-image: url("../../img/BlockAppImg/img/backapp.jpg");
    width: 100%;
    height: auto;
    padding: 100px 0;
    font-family:Arial, Helvetica, sans-serif;
   
}
.container__app{
    max-width: 960px;
    width: 80%;
    margin: 0 auto;
}
.app__content{
   color: white;  
   font-size: 16px;
   padding-top: 50px;
   line-height:2;
}
.app__content h3{
    color: white;
    font-size: 26px;
    font-weight: 600;
    line-height:2;
}
.movieApp__Btn{
    background-color: #fb4226;
    padding: 11px 20px;
    color: #fff;
    font-size: medium;
    font-weight: 700;
    border: none;
    border-radius: 4px;
    transition: 0.5s;
}

.movieApp__Btn:hover{
    background-color: rgb(175, 46, 26);
}

.imgApp__carousel{
    width: 100%;
    display: flex !important;
    justify-content: center;
   
}
.imgApp__carousel img{
    width: 50%;
    border-radius: 25px;
}

@media only screen and (max-width:768px) {
    .container__app{
        width: 100%;
       
    }

    .app__content{
        text-align: center;
        padding:0 1rem;
    }

    .imgApp__carousel img{
        width: 40%;
       
    }
}
@media only screen and (max-width:568px){
    
    .app__content{
        text-align: center;
        padding:0 10px;
    }

    .imgApp__carousel img{
        width: 50%;
       
    }
}