.movie__bg{
    background-repeat: no-repeat;
    background-size:cover;
    background-position:top ;
    background-attachment: fixed;
    background-image: url("../../img/movie-details-bg.jpg");
    padding: 5rem;
    position: relative;
   
 
}
.movie__detail{  
    display: flex;
    max-width: 1200px;
    width: 100%;

}

.detail__img{
    width: 100%;
}

.detail__img img{
    width: 70%;
    height: 70%;
    @apply rounded-xl;
}

.movie__detail__content{
    @apply space-x-10 text-white text-base
}
.movie__item__progress{
    display: flex;
    align-items: center;
    padding-left: 5rem;
}
.movie__tab__btn{
    @apply py-1 px-2 bg-gray-200 rounded-lg hover:scale-105 font-medium duration-500 
}

@media only screen and (max-width:768px) {
    .movie__detail{
        flex-direction: column;
        align-items: center;
    }
    .detail__img{
        width: 85%;
        padding-bottom: 2rem;
    }
    .movie__item__progress{
        display: none;
    }
    .movie__detail__content{
        display: block;
    }
}


@media only screen and (max-width:567px) {
    .movie__bg{
        padding: 2rem;
    }
    .detail__img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}